@using FlowersShopMVCTraining.Models
@model CatalogViewModel
@{
    ViewData["Title"] = Model.CatalogName;
}
@section Scripts {
    <script src="/js/mainIndex.js"></script>
}
@if (Model is not null)
{
    @if (Model.Joke != null)
    {
        <div class="banner">
            <p class=" banner__description">А вот вам шутка дня</p>
            <h2 class="banner__title "> @Model.Joke</h2>
        </div>
    }
    <div class="slider">
        <div class="container">
            @switch (Model.CatalogName)
            {
                case "Roses":
                    <h2 class="slider__title">
                        Розы
                    </h2>
                    break;
                case "Bouquets":
                    <h2 class="slider__title">
                        Букеты
                    </h2>
                    break;
                case "Presents":
                    <h2 class="slider__title">
                        Подарки
                    </h2>
                    break;
                case "ForWhom":
                    <h2 class="slider__title">
                        Для кого
                    </h2>
                    break;
                case "HolidayCollection":
                    <h2 class="slider__title">
                        Праздничная коллекция
                    </h2>
                    break;
                default:
                    <h2 class="slider__title">
                        Каталог
                    </h2>
                    break;
            }

            <div class="slider__items">

                @foreach (var item in Model.CatalogCards)
                {
                    <div class="slider__item">

                        <div class="slider__item-wrapper-img">
                            <img src="@Model.CardImages[item.Id]" alt="img" class="slider__item-img">
                            @if (item.IsBestseller)
                            {
                                <p class="slider__item-info info-bestseller">Хит прожаж</p>
                            }
                            @if (item.IsNewArrival)
                            {
                                <p class="slider__item-info info-new">Новинка</p>
                            }
                            @if (item.IsDealOfDay)
                            {
                                <p class="slider__item-info info-flower-day">Букет дня</p>
                            }
                            @if (item.Discount != 0 && item.Discount != null)
                            {
                                <p class="slider__item-info info-sale">Скидка @item.Discount%</p>
                            }


                        </div>

                        <div class="slider__item-descriptions">
                            <p class="slider__item-description">@item.Name</p>
                        </div>

                        <div class="slider__item-wrapper-price flex">
                            <div class="slider__item-price">
                                @if (item.Discount != 0 && item.Discount != null)
                                {
                                    <p class="slider__item-price-old">@item.Price грн</p>
                                    <p class="slider__item-price-new">@((item.Price - item.Price * item.Discount / 100)) грн</p>

                                }
                                else
                                {
                                    <p class="slider__item-price-new">@item.Price</p>
                                }
                            </div>

                            <a href="#" class="slider__item-btn btn-reset">Заказать</a>
                        </div>

                    </div>
                }
            </div>

            <div class="slider__btn-wraper flex">
                <div class="slader__btn slider__btn-prev"></div>
                <div class="slader__btn slider__btn-center"></div>
                <div class="slader__btn slider__btn-next"></div>
            </div>
        </div>
    </div>
}
