@model FlowersShopMVCTraining.Models.MainIndexViewModel

@{
    ViewData["Title"] = "Main";
}
@section Scripts {
    <script src="/js/mainIndex.js"></script>
    <script src="/js/submittingIdea.js"></script>
}


<div class="window-message-for-user">
    <!-- Contents of the modal window -->
    <div class="window-message-for-user-content">
        <p class="window-message-for-user-text">@Model.MessageForUser</p>
        <button class="window-message-for-user-btn btn-reset">OK</button>
    </div>
</div>
<div class="container">
    <div class="banner">
        <p class=" banner__description">Подарите ощущение праздника</p>
        <h2 class="banner__title ">Собираем букеты, созданные для Вас</h2>
        <a href="#catalog" class="banner__link">Выбрать букет</a>
    </div>
</div>
<!-- Slider start -->
<div class="slider">
    <div class="container">
        <h2 class="slider__title">
            Скидки
        </h2>
        <div class="slider__items">
            @if (Model.SliderCards != null)
            {
                @foreach (var item in Model.SliderCards)
                {
                    <div class="slider__item">

                        <div class="slider__item-wrapper-img">
                            <img src="@Model.CardImages[item.Id]" alt="img" class="slider__item-img">
                            @if (item.IsBestseller)
                            {
                                <p class="slider__item-info info-bestseller">Хит прожаж</p>
                            }
                            @if (item.IsNewArrival)
                            {
                                <p class="slider__item-info info-new">Новинка</p>
                            }
                            @if (item.IsDealOfDay)
                            {
                                <p class="slider__item-info info-flower-day">Букет дня</p>
                            }
                            @if (item.Discount != 0 && item.Discount != null)
                            {
                                <p class="slider__item-info info-sale">Скидка @item.Discount%</p>
                            }


                        </div>

                        <div class="slider__item-descriptions">
                            <p class="slider__item-description">@item.Name</p>
                        </div>

                        <div class="slider__item-wrapper-price flex">
                            <div class="slider__item-price">
                                @if (item.Discount != 0 && item.Discount != null)
                                {
                                    <p class="slider__item-price-old">@item.Price грн</p>
                                    <p class="slider__item-price-new">@((item.Price - item.Price * item.Discount / 100)) грн</p>

                                }
                                else
                                {
                                    <p class="slider__item-price-new">@item.Price</p>
                                }
                            </div>

                            <a href="#" class="slider__item-btn btn-reset">Заказать</a>
                        </div>

                    </div>
                }
            }
        </div>

        <div class="slider__btn-wraper flex">
            <div class="slader__btn slider__btn-prev"></div>
            <div class="slader__btn slider__btn-center"></div>
            <div class="slader__btn slider__btn-next"></div>
        </div>
    </div>
</div>
<!-- Slider end -->
<!-- Why-us start -->
<section class="why-us">
    <div class="container">
        <h2 class="why-us__title">Почему именно мы?</h2>
        <div class="why-us__items">
            <div class="why-us__item">
                <div class="why-us__item-bg-first">
                    <p class="why-us__item-bg-first-desc">
                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант. Вы можете выбрать любую
                        цветочную композицию из нашего каталога или заказать свой вариант
                    </p>
                </div>
            </div>
            <div class="why-us__item">
                <div class="why-us__item-bg-second">
                    <p class="why-us__item-bg-second-desc">
                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                    </p>
                </div>
            </div>
            <div class="why-us__item">
                <div class="why-us__item-bg-third">
                    <p class="why-us__item-bg-third-desc">
                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why-us end -->
<!-- Catalog start -->
<section class="catalog" id="catalog">
    <div class="container">
        <h2 class="catalog__title">Каталог</h2>
        <div class="catalog__items">

            <div class="catalog__items-big">
                <a href="@Url.Action("Catalog", "Catalog", new { catalogName = "Roses" })" class="catalog__link">
                    <img src="/img/catalog-roses.jpg" alt="img" class="catalog__link-img">
                    <p class="catalog__link-desc">Розы</p>
                </a>

                <a href="@Url.Action("Catalog", "Catalog", new { catalogName = "Bouquets" })" class="catalog__link">
                    <img src="/img/gatalog-bouquets.jpg" alt="img" class="catalog__link-img">
                    <p class="catalog__link-desc">Букеты</p>
                </a>

                <a href="@Url.Action("Catalog", "Catalog", new { catalogName = "Presents" })" class="catalog__link">
                    <img src="/img/catalog-present.jpg" alt="img" class="catalog__link-img">
                    <p class="catalog__link-desc">Подарки</p>
                </a>
            </div>

            <div class="catalog__items_litle">
                <a href="@Url.Action("Catalog", "Catalog", new { catalogName = "ForWhom" })" class="catalog__link">
                    <img src="/img/catalog-for-whom.jpg" alt="img" class="catalog__link-img">
                    <p class="catalog__link-desc">Для кого</p>
                </a>

                <a href="@Url.Action("Catalog", "Catalog", new { catalogName = "HolidayCollection" })" class="catalog__link">
                    <img src="/img/catalog-holiday-collection.jpg" alt="img" class="catalog__link-img">
                    <p class="catalog__link-desc">Праздничная коллекция</p>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- Catalog end -->
<!-- Delivery start-->
<section class="delivery">
    <div class="container">
        <h2 class="delivery__title">Доставка</h2>
        <p class="delivery__desc">
            Возьмём на себя все заботы по созданию, оформлению и доставке корпоративных букетов в обычные и праздничные дни за
            разумные деньги
        </p>
    </div>
</section>
<!-- Delivery end-->
<!-- Offer-your-bouquet start-->
<section class="offer-your-bouquet">
    <div class="container">
        <h2 class="offer-your-bouquet__title">
            Предложи свой букет
        </h2>
        <div class="offer-your-bouquet__form-wrapper flex">

            <div class="offer-your-bouquet__input-wrapper flex">
                <input name="AuthorName" placeholder="Имя" class="offer-your-bouquet__name" />
                <input name="AuthorPhone" placeholder="Телефон" class="offer-your-bouquet__phone" />
                <textarea name="Idea" placeholder="Ваша идея" class="offer-your-bouquet__idea"></textarea>
            </div>

            <img src="/img/offer-your-bouquet.jpg" alt="img" class="offer-your-bouquet-img">

        </div>
        <div class="wrapper-btn flex">
            <button class="offer-your-bouquet-btn btn-reset">Отправить</button>
        </div>
    </div>
</section>
<!-- Offer-your-bouquet start-->
