@using FlowersShopMVCTraining.Models
@model ShowAdminShopCardViewModel
@{
    ViewData["Title"] = "AdminPage";
}

@section Scripts {
    <script src="/js/adminPage.js"></script>
    <script src="/js/adminPageDeleteRequest.js"></script>
}

<!-- Contents of the modal window -->
@if (Model.MessageCreationCard != null)
{
    <div class="message-creation-card window-message-for-user">
        <div class="message-creation-card-content window-message-for-user-content">
            <p>@Model.MessageCreationCard</p>
            <button class="message-creation-card-btn btn-reset window-message-for-user-btn">OK</button>
        </div>
    </div>
}
<!-- Form for Add Card -->
<div class="admin_page flex">

    <h2 class="admin_page_title">Добавление букета</h2>

    <form action="/Admin/Index" method="post" enctype="multipart/form-data" class="admin_page_form">

        <div class="admin_photo_wrapper">
            <label for="admin_photo">Фотография букета:</label>
            <input type="file" class="admin_photo admin_page_border" name="photo" accept="image/*">
        </div>

        <div class="admin_bouquet_wrapper">
            <label for="admin_bouquet_name">Название букета:</label>
            <input type="text" class="admin_bouquet_name admin_page_border" name="name">
        </div>

        <div class="admin_catalog_wrapper">
            <label for="admin_catalog">Каталог:</label>
            <select class="admin_catalog admin_page_border" name="catalog">
                <option value="roses">Розы</option>
                <option value="present">Подарки</option>
                <option value="forWhom">Для кого</option>
                <option value="bouquets">Букеты</option>
                <option value="holidayCollection">Празничная коллеция</option>
            </select>
        </div>
        <div class="admin_description_wrapper">
            <label for="admin_description ">Описание:</label>
            <textarea class="admin_description admin_page_border" name="description"></textarea>
        </div>

        <div class="admin_price_wrapper">
            <label for="admin_price">Цена:</label>
            <input type="number" class="admin_price admin_page_border" min="0" name="price">
        </div>

        <div class="admin_bestseller_wrapper">
            <label>Дополнительные характеристики:</label>
            <label for="admin_bestseller">Хит продаж</label>
            <input type="checkbox" class="admin_bestseller" name="isBestseller">

            <label for="admin_newarrival">Новинка</label>
            <input type="checkbox" class="admin_newarrival" name="isNewArrival">

            <label for="admin_dealofday">Букет дня</label>
            <input type="checkbox" class="admin_dealofday" name="isDealOfDay">
        </div>

        <div class="admin_discount_wrapper">
            <label for="admin_discount">Скидка (0-50%):</label>
            <input type="number" class="admin_discount admin_page_border" min="0" max="50" name="discount">
            <div class="discount_value"></div>
        </div>

        <input type="submit" value="Добавить" class="admin_page_btn btn-reset registration-btn">
    </form>
</div>
<!-- Show  Cards -->
@if (Model is not null)
{
    <div class="slider__items-admin-wraper flex">
        @foreach (ShopCardViewModel item in Model.ShopCards)
        {
            <div class="slider__item admin__item" data-item-id="@item.Id">

                <div class="slider__item-wrapper-img admin__item-wrapper-img">

                    @foreach (string imageName in Model.ImageNames)
                    {
                        if (imageName.Contains(item.Id.ToString()))
                        {
                            Model.ImageName = imageName + ".jpg";
                            break;
                        }
                    }
                    <img src="/img/output/small/@Model.ImageName" alt="img" class="slider__item-img admin__item-img">
                    @if (item.IsBestseller)
                    {
                        <p class="slider__item-info info-bestseller admin__item-info">Хит прожаж</p>
                    }
                    @if (item.IsNewArrival)
                    {
                        <p class="slider__item-info info-new admin__item-info">Новинка</p>
                    }
                    @if (item.IsDealOfDay)
                    {
                        <p class="slider__item-info info-flower-day admin__item-info">Букет дня</p>
                    }
                    @if (item.Discount != 0)
                    {
                        <p class="slider__item-info info-sale admin__item-info">Скидка @item.Discount%</p>
                    }

                </div>

                <div class="slider__item-descriptions admin__item-descriptions">
                    <p class="slider__item-description admin__item-description">@item.Name</p>
                </div>

                <div class="slider__item-wrapper-price flex admin__item-wrapper-price">
                    <div class="slider__item-price admin__item-price">
                        @if (item.Discount != 0)
                        {
                            <p class="slider__item-price-old admin__item-price-old">@item.Price грн</p>
                            <p class="slider__item-price-new admin__item-price-new">@((item.Price - item.Price * item.Discount / 100)) грн</p>

                        }
                        else
                        {
                            <p class="slider__item-price-new admin__item-price-new">@item.Price</p>
                        }
                    </div>
                </div>
                <div class="wrapper-admin-change-buttons">
                    <input type="submit" value="Удалить" class="admin_page_btn btn-reset registration-btn admin-change-button-del">
                    <input type="submit" value="Изменить" class="admin_page_btn btn-reset registration-btn  admin-change-button-update">
                </div>
            </div>
        }
    </div>

}

